#nprogress .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}

#nprogress .bar {
  background: #fff;
}

#nprogress .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}

body {
  -webkit-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
  user-select: initial !important;
}
