.navbar {
  background-color: #404040;
}

.navbar ul.ant-menu {
  width: 100%;
}

.navbar li.ant-menu-item {
  height: 150%;
}

.navbar li.ant-menu-item.ant-menu-item-selected  {
  background: #303030;
}

.navbar .brand {
  color: #fefefe;
  font-size: 18px;
  line-height: 230%;
  margin-right: 1em;
}
